<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title  class="ion-text-center">
          {{title}}
      </ion-title>
      <ion-buttons *ngIf="sportsPlaza" slot="end" [hidden]="hidden">
          <ion-button (click)="toggle()">
              <ion-icon slot="icon-only" name="search" color="white"></ion-icon>
          </ion-button>
          <ion-button routerLink="/about" [hidden]="hiddenAbout">
              <ion-icon slot="icon-only" name="information-circle-outline"></ion-icon>
          </ion-button>
          <ion-button (click)="onOpen()" [hidden]="!hiddenAbout">
              <ion-icon slot="icon-only" name="person"></ion-icon>
          </ion-button>
      </ion-buttons>
      <ion-row *ngIf="sportsPlaza" class="search safe" [class.active]="isActive">
          <ion-item lines="none" class="ion-no-padding" style="width: 100%">
              <ion-buttons>
                  <ion-button (click)="toggle()">
                      <ion-icon color="primary" name="arrow-back" size="large"></ion-icon>
                  </ion-button>
              </ion-buttons>
              <ion-searchbar color="light" class="ion-no-padding ion-no-margin"
              placeholder="Buscar..."
                             (ionInput)="search($event)"></ion-searchbar>
          </ion-item>
      </ion-row>
  </ion-toolbar>
</ion-header>
