<ion-header>
  <ion-toolbar color ="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title> Mis pases</ion-title>
   </ion-toolbar>
</ion-header>

<ion-content>
  <custom-skeleton-card3 [list]="list" *ngIf="isLoading"></custom-skeleton-card3>
  <custom-card3 [list]="list" *ngIf="!isLoading && list"></custom-card3>
  <ion-content *ngIf="list?.length <= 1">
    <ion-card>
      <ion-card-header>
        <ion-card-subtitle>
          <div align="center">
            No tienes pases disponibles
          </div>
        </ion-card-subtitle>
      </ion-card-header>
    </ion-card>
  </ion-content>
</ion-content>
