<ion-header>
  <ion-toolbar color ="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title> Mi perfil</ion-title>
   </ion-toolbar>
</ion-header>

<ion-content >
  <custom-skeleton-profile2 [user]="user" *ngIf="isLoading"></custom-skeleton-profile2>
  <app-custom-profile2 [user]="user" *ngIf="!isLoading" ></app-custom-profile2>

<!-- <div id="container" *ngIf="isLogged">
    <strong>Bienvenido  {{username}}</strong>
</div>-->

</ion-content>
