<ion-header translucent>
  <ion-toolbar>
    <ion-title>Ranking del reto</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="dismiss()">Cerrar</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content fullscreen>
  <ion-list>
    <ion-item *ngFor="let person of ranking">
      <ion-avatar slot="start" style="margin-right: 5%;">
        <ion-img [src]="person.avatar"></ion-img>
      </ion-avatar>
      <ion-badge slot="start" style="position: absolute !important; margin-left: 12%; margin-top: 15%;"># {{person.posicion}}</ion-badge>
      <ion-label>
        <h2>  {{person.nombre}}</h2>
        <p>  {{person.total | number:'1.0':'en-US' }} Puntos</p>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
