div{
    text-align: center;
    //width: 300px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
ion-card{
  background: var(--ion-color-primary);

}
ol{
    list-style-type: none;
    display: grid;
    grid-template-columns: repeat(7,1fr);  // es 1fr
    margin: 1;
    padding: 0;
}

li{
    font-size: 2.5ch;
}

h2{
    margin-bottom: 4px;
    padding: 0;
    color: var(--ion-color-primary);
}
.titulo-calendario{
  color: var(--ion-color-secondary);
  margin-bottom: 1px;
    padding: 0;
    text-align: center;
}

.itemCitas{
    color: black;
  }

h6{
    text-align: center;
    //width: 300px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 16px;
}

.first-day{
    grid-column-start: var( --first-day-start,0);
}

.day-name{
    background:	var(--ion-color-secondary);
    font-weight: bold;
    font-size: 16px;
    margin-bottom: 2px;
    padding: 4px;
    text-align: center;
}

.header-calendario{
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
}

.header-calendario h1{
    width: 100px;
    font-size: 13px;
}
 .header-calendario button{
     border:0;
 }

 .text-center{
    display: flex; justify-content: center;
  }

  .mat-form-field + .mat-form-field {
    margin-left: 8px;
  }


  h3,
  h5 {
    color: hsl(227, 2%, 12%);
  }

  .mat-expansion-panel,
  .mat-expansion::after
   {
      background: "white";
   }

   .tab-bar{
       width: 8px;
       height: 45px;
   }

   .mensaje{
    font-weight: bold;
    font-size: 12px;
    padding: 4px;
    text-align: center;
   }

   .color1{
    color: var(--ion-color-primary);
    font-weight: bold;
    font-size: 16px;
    text-align: left;
   }

   .color2{
    color: black;
    font-size: 15px;
    text-align: left;
   }

   .colorcard{
       background-color: white;
   }

