<ion-header>
  <ion-toolbar color ="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title> Mis Citas</ion-title>
   </ion-toolbar>
</ion-header>

<ion-content>
  <!--<ion-progress-bar type="indeterminate" color="secondary" *ngIf="isLoading"></ion-progress-bar>-->
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content
      refreshingSpinner="circles"
      refreshingText="Actualizando...">
    </ion-refresher-content>
  </ion-refresher>

  <ion-segment [(ngModel)]="selectType" color="primary" (ionChange)="segmentChanged($event)">
    <ion-segment-button *ngFor="let item of segmentList" [value]="item">
      <ion-label class="itemCitas">{{item}}</ion-label>
    </ion-segment-button>
  </ion-segment>

  <ng-container [ngSwitch]="selectType">
    <ng-template [ngSwitchCase]="'APARTAR CITAS'">
    <ion-card>
      <div>
        <div class="header-calendario">
          <div>
            <ion-button (click)="changeMonth(-1)" class="btn-prev" size="small" color="secondary"> < </ion-button>
          </div>
          <h2 class="titulo-calendario" >{{dateSelect |  date:'MMMM, yyyy'}}</h2>
          <div>
            <ion-button (click)="changeMonth(1)" class="btn-prev" size="small" color="secondary"> > </ion-button>
          </div>
        </div>
        <ol>
          <li *ngFor="let day of semana" class="day-name">{{day | slice:0:1}}</li>
          <li (click)="clickDay(day)" (click)="colorpordia(day)" [style.gridColumnStart]="first ? day?.indexWeek : 'auto'"
          *ngFor="let day of monthSelect;let first = first">
          <span>{{day?.value}}</span>
          </li>
        </ol>
      </div>
    </ion-card>

<!--
<ion-content>
  <mbsc-datepicker [controls]="['calendar']" display="inline" calendarType="week" [weeks]="1"></mbsc-datepicker>
</ion-content>
-->

  <ion-card>
    <ion-card-content>
    <h6><b>Hoy es:</b> {{fechaactual}}</h6>
    <h6><b>Seleccionaste:</b> {{fechaSeleccionada}}</h6>
    </ion-card-content>
  </ion-card>

  <div *ngIf="citas?.length === 0">
    <ion-card>
      <ion-card-content>
        <h2 class="mensaje">NO HAY CITAS PARA MOSTRAR ESTE DIA</h2>
      </ion-card-content>
    </ion-card>
  </div>
<!--
<div>
  <ion-slides [options]="opts" >
    <ion-slide *ngFor= "let c of colores">
      <ion-button  style.color="#{{c.color}}" fill="clear">{{c.nombre}}</ion-button>
    </ion-slide>
  </ion-slides>
</div>
-->

<div>
<ion-segment (ionChange)="segmentChanged2($event)" scrollable="true" [value]="valueSelected">
  <ion-segment-button  *ngIf="citas?.length !== 0" value="todos">
    <ion-label style.color="primary" fill="clear">Todos</ion-label>
  </ion-segment-button>
  <ion-segment-button *ngFor= "let c of colores"  value="{{c.nombre}}">
    <ion-label style.color="#{{c.color}}" fill="clear">{{c.nombre}}</ion-label>
  </ion-segment-button>
</ion-segment>
</div>

<div *ngFor= "let cita of citas  | filtro:TextoBuscar">
<div *ngFor= "let c of colores | filtro: cita.nombre" >
<div *ngIf="valueSelected == c.nombre" >
  <ion-card>
  <div>
    <div>
  <mat-accordion >
    <mat-expansion-panel (opened)="panelOpenState = true"
                         (closed)="panelOpenState = false" >
      <mat-expansion-panel-header>
        <mat-panel-title>
          <ion-row class="tab-bar" style.color="#{{cita.color}}" style.background-color="#{{cita.color}}">
            || <!--11-->
          </ion-row>
        &nbsp;&nbsp;&nbsp;&nbsp;
        {{cita.rango}}
        </mat-panel-title>
        <mat-panel-description>
          {{cita.nombre}}
        </mat-panel-description>
      </mat-expansion-panel-header>
      <ion-icon name="location-outline"></ion-icon><h5>Lugar: {{cita.lugar}}</h5>
      <!--<ion-icon name="accessibility-outline"></ion-icon><h5>Actividad: {{cita.tipoActividad}}</h5>-->
      <ion-icon name="timer-outline"></ion-icon><h5>Duracion: {{cita.duracion}} min</h5>
      <ion-icon name="flash-outline"></ion-icon><h5>Nivel: {{cita.nivel}}</h5>
      <ion-button (click)="actionMethod($event)" (click)="Reserva(cita.id)" color="secondary" expand="full"> Reservar ahora</ion-button>
    </mat-expansion-panel>
  </mat-accordion>
</div>
</div>
</ion-card>
</div>
</div>
</div>

  <ion-card *ngFor="let cita of citas  | filtro:TextoBuscar" >
    <div *ngIf="valueSelected == 'todos'">
      <div>
        <mat-accordion>
          <mat-expansion-panel (opened)="panelOpenState = true"
                               (closed)="panelOpenState = false" >
            <mat-expansion-panel-header>
              <mat-panel-title>
                <ion-row class="tab-bar" style.color="#{{cita.color}}" style.background-color="#{{cita.color}}">
                  ||
                </ion-row>
              &nbsp;&nbsp;&nbsp;&nbsp;
              {{cita.rango}}
              </mat-panel-title>
              <mat-panel-description>
                {{cita.nombre}}
              </mat-panel-description>
            </mat-expansion-panel-header>
            <ion-icon name="location-outline"></ion-icon><h5>Lugar: {{cita.lugar}}</h5>
            <!-- <ion-icon name="accessibility-outline"></ion-icon><h5>Actividad: {{cita.tipoActividad}}</h5> -->
            <ion-icon name="timer-outline"></ion-icon><h5>Duracion: {{cita.duracion}} min</h5>
            <ion-icon name="flash-outline"></ion-icon><h5>Nivel: {{cita.nivel}}</h5>
            <ion-button (click)="actionMethod($event)" (click)="Reserva(cita.id)" color="secondary" expand="full"> Reservar ahora</ion-button>
          </mat-expansion-panel>
        </mat-accordion>
      </div>
    </div>
  </ion-card>


</ng-template>

<ng-template [ngSwitchCase]="'VER MIS CITAS'">
  <br>
  <ion-item>
    <ion-label>
      <h6><ion-note color="warning"><b>No podra cancelar citas antes de <br>una hora de su clase</b></ion-note></h6>
    </ion-label>
  </ion-item>

  <div *ngIf="citasusuario?.length === 0"  >
    <h2 class="mensaje">AUN NO TIENE CITAS</h2>
  </div>

    <ion-card class="colorcard" *ngFor="let micita of citasusuario | sort: 'dia'" >
      <ion-label>
        <ion-note *ngIf="micita.dia === hoy" class="color1">&nbsp;&nbsp;&nbsp;Hoy {{fechaactual}}</ion-note>
      </ion-label>
      <ion-label>
        <ion-note *ngIf="micita.dia != hoy" class="color2">&nbsp;&nbsp;&nbsp;{{micita.dia | date:'dd MMMM'}}</ion-note>
      </ion-label>
    <div>
      <div>
          <ion-item-sliding>
        <ion-item color="white">
        <ion-label>
          <div>
        <mat-accordion >  <!--*ngFor="let day of semana" falta por comprobar-->
            <mat-expansion-panel (opened)="panelOpenState = true"
                               (closed)="panelOpenState = false" >
            <mat-expansion-panel-header>
              <mat-panel-title>
                <ion-row class="tab-bar" style.color="#{{micita.color}}" style.background-color="#{{micita.color}}">
                || <!--11-->
                </ion-row>
                &nbsp;
                {{micita.rango}}
              </mat-panel-title>
              <mat-panel-description>
                {{micita.nombre}}
              </mat-panel-description>
            </mat-expansion-panel-header>
            <ion-icon name="location-outline"></ion-icon><h5>Lugar: {{micita.lugar}}</h5>
            <!--<ion-icon name="accessibility-outline"></ion-icon><h5>Actividad: {{cita.tipoActividad}}</h5>-->
            <ion-icon name="timer-outline"></ion-icon><h5>Duracion: {{micita.duracion}} min</h5>
            <ion-icon name="flash-outline"></ion-icon><h5>Nivel: {{micita.nivel}}</h5>
          </mat-expansion-panel>
        </mat-accordion>
        </div>
      </ion-label>
      </ion-item>

      <ion-item-options side="end">
        <ion-item-option (click)="EliminarCita(micita)" color="danger">CANCELAR</ion-item-option>
      </ion-item-options>

      </ion-item-sliding>
      </div>
      </div>
</ion-card>
</ng-template>
</ng-container>

<ion-fab slot="fixed" vertical="bottom" horizontal="end">
  <ion-fab-button color="secondary" (click)="goTop()"> <!--[ngClass]="isEnd?'fade-in-right':'fade-out-right'" (click)="goTop()"-->
      <ion-icon name="arrow-up"></ion-icon>
  </ion-fab-button>
</ion-fab>

</ion-content>
