<ion-header>
  <ion-toolbar color ="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title> Cambiar contraseña</ion-title>
   </ion-toolbar>
</ion-header>

<ion-content>

  <ion-row class="slide3">

    <ion-col size="12" size-md="8">
      <form #f="ngForm">
          <ion-card class="transparent">
              <br>
              <ion-item lines="none" class="slide1">
                  <!--<ion-icon name="person-circle-outline" color="light"></ion-icon>-->
                  <ion-input required color="light" type="password" name="password" [(ngModel)]="password" placeholder="Contraseña actual"></ion-input>
              </ion-item>

              <ion-item lines="none" class="slide2">
                  <!--<ion-icon name="lock-closed" color="light"></ion-icon>-->
                  <ion-input required color="light" type="password" name="passwordact" [(ngModel)]="passwordact" placeholder="Nueva contraseña"></ion-input>
              </ion-item>
          </ion-card>
      </form>
  </ion-col>
</ion-row>

<ion-row >
  <ion-col size="1">

  </ion-col>
  <ion-col  size="10" size-md="8">
    <ion-button expand="block" color="secondary" [disabled]="!f.valid" (click)="CambiarContra()">
      Guardar
    </ion-button>
  </ion-col>
</ion-row>

</ion-content>
