ion-card{
        display: flex;
        flex-direction: column;
        margin: 0 !important;
        background: var(--my-custom-color2);
        width: 500px;
        color: black;
      }

ion-content ion-card{
 // background: var(--my-custom-color2)  !important;
  width: 90%;
  align-items: center;
  color: black;
  height: 20%;
  align-items: center;
  display: flex;
  justify-content: center;
}
.custom-button{
  position:fixed;
  right:0;
  bottom:10%;
  width: 100%;
}
