<ion-header>
  <ion-toolbar color ="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title> Mi Saldo</ion-title>
   </ion-toolbar>
</ion-header>

<ion-content *ngIf="pedido">
  <!-- <ion-card-content>
    <ion-card-header>
    <br>
    <ion-card>
        <ion-card-title>PAGOS PENDIENTES</ion-card-title>
        <br><ion-card-subtitle> Usted solicito 1 servicio de clases de natacion</ion-card-subtitle>
      <p><br><ion-card-subtitle> Saldo a pagar: $1234</ion-card-subtitle>
        <br>
        <ion-card-subtitle>Este saldo es el que debe pagar por las inscripciones a los servicios que
          usted solicito
        </ion-card-subtitle>
      </p>
      <ion-button expand="block" (click)="Pagar()">
        Pagar
      </ion-button>
  </ion-card>
  </ion-card-header>
  </ion-card-content> -->

  <div align="center">
    <ion-card>
      <ion-card-header>
        <ion-card-subtitle>
          <div align="center">
            {{total|currency:'MXN'}}
          </div>
        </ion-card-subtitle>
        <ion-card-content style="color:  var(--ion-color-primary);">
          Saldo pendiente
        </ion-card-content>
      </ion-card-header>
    </ion-card>
  </div>
  <custom-list-toggle [list]="pedido.pedidoDetalle"></custom-list-toggle>
</ion-content>

<ion-content *ngIf="!pedido">
  <br>
  <div align="center">
    <ion-card>
      <ion-card-header>
        <ion-card-subtitle>
          <div align="center">
            No tienes adeudos pendientes
          </div>
        </ion-card-subtitle>
      </ion-card-header>
    </ion-card>
  </div>
</ion-content>

<ion-footer *ngIf="pedido"  style="background-color: var(--my-custom-color2); color:  var(--ion-color-primary); text-align: center; height:5%; font-size: large; padding-top: 2%;" (click)="pagarOxxo()">
  <!-- <ion-button
    expand="block"
    shape="round"
    color = "#0AD8F0"
    class="ion-padding-horizontal ion-margin-bottom">
   PAGAR ADEUDO
  </ion-button> -->
  PAGAR ADEUDO
</ion-footer>
