<ion-grid>
  <ion-row>
    <ion-col size="12" size-md="6" *ngFor="let item of list">
      <ion-card
        class="ion-no-margin ion-no-padding"
        [class.active]="item.active"
      >
        <div>
          <div class="left">
            <img [src]="item.img" />
            <!-- <ion-badge class="transparent ion-no-padding star">
                          <ion-icon name="star" color="danger" *ngFor="let star of item.star"></ion-icon>
                      </ion-badge> -->
          </div>
          <div class="right">
            <ion-card-header class="ion-no-padding">
              <h5 class="title">{{ item.titulo }}</h5>
              <hr class="line2" />
            </ion-card-header>
            <!-- <ion-badge class="transparent">
                          <img src="assets/images/fresh.png" style="width: 39px"> <h4>{{item.percent}}</h4>
                      </ion-badge> -->
            <ion-item
              lines="none"
              class="ion-no-padding ion-no-margin transparent"
            >
              <ion-label class="ion-no-margin">
                <!-- <p>Total de inscritos: {{item.count}}</p>
                              <p>Date: <strong>{{item.date}}</strong></p> -->
                <ion-icon
                  slot="start"
                  name="person"
                  color="light"
                  style="vertical-align: middle"
                ></ion-icon>
                <span style="line-height: 180%;"> Total de inscritos: <strong> {{item.inscritos}}</strong><br /></span>
                <ion-icon
                  slot="start"
                  [name]="item.icono"
                  color="light"
                  style="vertical-align: middle"
                ></ion-icon>
                <span style="line-height: 180%;"> Tipo: <strong> {{item.tipo}}</strong><br /></span>
                <ion-icon
                slot="start"
                name="calendar-number"
                color="light"
                style="vertical-align: middle"
              ></ion-icon>
              <span style="line-height: 180%;"> Finaliza el: <strong> {{item.fin| date:'dd/MM/yyyy'}}</strong><br /></span>
              </ion-label>
            </ion-item>
          </div>
        </div>
        <!-- <div class="tool">
                  <ion-button class="btn" color="secondary" >
                      Inscribirme
                  </ion-button>
                  <ion-button class="btn" color="secondary" (click)="item.active=!item.active">
                    {{item.active ? 'Cerrar' : 'Resultados'}}
                </ion-button>
              </div> -->
        <ion-card-content>
          <!-- <ion-badge class="transparent ion-no-padding">
            <img src="assets/images/fresh.png" style="width: 39px" />
            <h4>{{ item.inscritos }}</h4>
          </ion-badge>
          <p>
            Average Rating: <strong>{{ item.inscritos }}</strong>
          </p>
          <p>
            Total Count: <strong>{{ item.inscritos }}</strong>
          </p> -->
          <p>{{ item.descripcion }}</p>
        </ion-card-content>
        <ion-tabs style="z-index: 100">
          <ion-tab-bar slot="bottom" color="secondary">
            <ion-tab-button>
              <ion-icon name="person-circle"></ion-icon>
              <ion-label>Inscribirme</ion-label>
            </ion-tab-button>

            <ion-tab-button (click)="cargarRanking()">
              <ion-icon name="bar-chart"></ion-icon>
              <ion-label>Ranking</ion-label>
            </ion-tab-button>

            <ion-tab-button (click)="item.active = !item.active">
              <ion-icon
                [name]="item.active ? 'close' : 'information-circle'"
              ></ion-icon>
              <ion-label>
                {{ item.active ? "Cerrar" : "Información" }}</ion-label
              >
            </ion-tab-button>
          </ion-tab-bar>
        </ion-tabs>
      </ion-card>
    </ion-col>
  </ion-row>
</ion-grid>
