ion-input{
	--padding-start: 2% !important;
  font-weight: bold !important;

}
.icon{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
:host {
  ion-toolbar {
    --ion-toolbar-background: transparent !important;
    --border-width: 0px !important;
    border-bottom: 0px !important;
  }

  ion-content {
    overflow: hidden;
  }
.logo{
  margin-top: 40%;
  margin-left: 0%;
  margin-right: 10%;
  width: 95%;
}
  .main-content {
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-size: cover;
    //background: url('../../assets/images/loginb.jpg') no-repeat center !important;
  }

  .header-md:after {
    height: 0px !important;
  }
}

