<ion-split-pane contentId="main-content">
  <ion-menu contentId="main-content" type="overlay">
      <ion-content >
          <div class="profile" [ngStyle]= "{'background-image': 'url('+ fondo +')'}" >
            <ion-row>
                <ion-col size="3">
                    <ion-avatar *ngIf="cliente">
                        <img [src]="'data:image/jpeg;base64,'+cliente.urlfoto.imagen"> <!--imagen de perfil del suaurio-->
                    </ion-avatar>
                </ion-col>
                <ion-col size="2">
                </ion-col>
                <ion-col class="ion-align-self-center" size="7">
                    <h5><b>Sports Plaza</b></h5>
                </ion-col>
              </ion-row>
              <!-- <ion-avatar *ngIf="cliente">
                  <img [src]="'data:image/jpeg;base64,'+cliente.urlfoto.imagen">
              </ion-avatar> -->
              <div *ngIf="cliente" >
                <h5><b>{{cliente.nombre}} {{cliente.apellidoPaterno}} {{cliente.apellidoMaterno}}</b></h5>
              </div>
          </div>
          <custom-side-menu [menuList]="pageList"></custom-side-menu>
      </ion-content>
  </ion-menu>
  <!-- <ion-menu *ngIf="mostrar2menu" side="end" menuId="custom" disabled="true" type="overlay" contentId="main-content"
            class="my-custom-menu">
      <ion-content>
          <app-custom-side-right></app-custom-side-right>
      </ion-content>
  </ion-menu>
  <ion-menu *ngIf="mostrar2menu" side="end" menuId="search" disabled="true" type="overlay" contentId="main-content"
            class="my-custom-menu">
  </ion-menu> -->
  <ion-router-outlet id="main-content"></ion-router-outlet>
</ion-split-pane>
