.backbtn {
  margin-left: 15px;
}

.notification {
  margin-right: 15px;
}

ion-content {
  --padding-top: 16px;
  --padding-bottom: 16px;
  --padding-start: 26px;
  --padding-end: 26px;
}

.title {
  margin-top: 0;
  color: #434343;
}

.profile-info {
  padding-top: 20px;

  ion-item {
      --padding-start: 0;
      --border-color: #97979713;

      ion-label {
          color: #919191;
          font-size: larger;
      }

      ion-input {
          --color: #434343;
      }
  }
}

ion-grid.cardON {
  //background-color: #4284ff;
 // background-image: url(../assets/images/cardactivasp.png);
  border-radius: 15px;
  border-style: solid;
  margin-left: 0;
 // max-width: 400px !important;
  min-height: 250px;
  z-index: 10;
  border-color: var(--ion-color-primary);
  .msg {
//      background-color: #679cff;
  }
}
.foto{
  min-width: 120%;
  border-radius: 15px;
  z-index: 2;
}
.circulo{
  position:fixed;
  border-radius: 10px;
  bottom:0px;
 // z-index: 1;
  left:0px;
  max-width: 100px;
}

ion-grid.cardOFF {
  background-color: #bbb7b7;
  border-radius: 10px;
  min-height: 200px;

  max-width: 400px !important;
  .msg {
  //    background-color: #d4d4d4;
  }
}

.msg {
  //background-color: #679cff;
  float: left;
  padding: 5px;
  padding-right: 8px;
  padding-left: 8px;
  font-size: 0.8em;
  color:var(--ion-color-primary);
  border-radius: 5px;
}

.number {
  color:var(--ion-color-primary);
  font-size: 0.9em;
  line-height: 1em;
  text-align: center;
}

.texto_nombre {
  color:var(--ion-color-primary);
  font-size: 1.6em;
  line-height: 1.2em;
  text-align: center;
}


.digits {
  padding-right: 5%;
  padding-left: 5%;
}

.date {
  color:var(--ion-color-primary);
  font-size: 0.8em;
}

.bank {
  text-align: right;
  color:var(--ion-color-primary);
  font-size: 0.8em;
}

.ON {
  height: 8px;
  width: 8px;
  background-color: #8de278;
  border-radius: 50%;
  display: inline-block;
  margin-right: 2px;
}

.OFF {
  height: 8px;
  width: 8px;
  background-color: #fb5f5f;
  border-radius: 50%;
  display: inline-block;
  margin-right: 2px;
}

.brand {
  //max-width: 45%;
  float: right;
}

.chip {
  ion-img {
      max-width: 70px;
      padding-top: 1%;
      border-radius: 15% !important;
      overflow: hidden;
  }
}

.qr {
  ion-img {
      max-width: 200px;
      padding-top: 8%;
      width: auto;
      margin: auto;
      display: block;
      border-radius: 5% !important;
      overflow: hidden;
  }
}

ion-icon#power{
  font-size: 2em;
}
