<ion-header>
  <ion-toolbar color ="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title> Mi credencial</ion-title>
   </ion-toolbar>
</ion-header>
<ion-content>

  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>
        <div align="center">
          Credencia de Acceso al Club <br>Sports Plaza
        </div>
      </ion-card-subtitle>
    </ion-card-header>
  </ion-card>

  <div *ngIf="cliente">
    <div *ngFor="let card of cards">
      <!-- <ion-slides pager="true" [options]="slideOpts"> -->
        <ion-slides pager="true" class="ion-no-padding">
          <ion-slide>
            <ion-grid [class.cardON]="card.state==='Activa'" [class.cardOFF]="card.state==='Desactivada'" >
              <ion-row>

                <ion-col class="state">

                  <div class="msg">
                    <span [class.ON]="card.state==='Activa'" [class.OFF]="card.state==='Desactivada'"></span> Card {{card.state}}
                  </div>
                  <img src="../assets/images/circuloamarillo.png" class="circulo" style="width:50%">
                </ion-col>
                <ion-col class="logo">
                  <ion-img class="brand" [src]="card.logo" style="width:70%"></ion-img>
                </ion-col>
              </ion-row>
              <ion-row class="ion-margin">
                <ion-col size="3" class="chip">
                  <img class="foto" [src]="'data:image/jpeg;base64,'+cliente.urlfoto.imagen">
                </ion-col>
                <ion-col size="9" class="texto_nombre" color="primary">
                  {{cliente.nombre}}<br>
                  {{cliente.apellidoPaterno}}<br>
                  {{cliente.apellidoMaterno}}<br>
                </ion-col>
              </ion-row>
              <!-- <ion-row class="digits">
                <ion-col size="3" class="number"></ion-col>
                <ion-col size="9" class="number">
                  {{card.a}}     {{card.b}}
                </ion-col>
              </ion-row> -->
              <!-- <ion-row>
                <ion-col class="date">
                  Desde: {{card.expires}}
                </ion-col>
                <ion-col class="bank">
                  {{card.bank}}
                </ion-col>
              </ion-row> -->
            </ion-grid>
          </ion-slide>
          <!-- SLIDE 2 -->
          <ion-slide>
            <ion-grid [class.cardON]="card.state==='Activa'" [class.cardOFF]="card.state==='Desactivada'">
              <ion-row>
                <ion-col class="state">
                  <div class="msg">
                    <span [class.ON]="card.state==='Activa'" [class.OFF]="card.state==='Desactivada'"></span> Card {{card.state}}
                  </div>
                </ion-col>
                <ion-col class="logo">
                  <ion-img class="brand" [src]="card.logo" style="width:70%"></ion-img>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col class="qr">
                  <!-- <ion-img [src]="card.qr"></ion-img> -->
                  <ngx-qrcode
                  elementType="url"
                  [value]="getQrCode()"
                  cssClass="qrClass"
                  [colorDark] = "'#4f2683'"
                  errorCorrectionLevel="L"></ngx-qrcode>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col class="date">
                  QR de Acceso
                </ion-col>
                <ion-col class="bank">
                  {{card.bank}}
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-slide>
      </ion-slides>
      <br>
    </div>
  </div>`
</ion-content>
