.alpha-theme{

    .ion-color-favorite {
      --ion-color-base: var(--ion-color-favorite);
      --ion-color-base-rgb: var(--ion-color-favorite-rgb);
      --ion-color-contrast: var(--ion-color-favorite-contrast);
      --ion-color-contrast-rgb: var(--ion-color-favorite-contrast-rgb);
      --ion-color-shade: var(--ion-color-favorite-shade);
      --ion-color-tint: var(--ion-color-favorite-tint);
    }

    --ion-default-font: 'Arimo', sans-serif !important;
    --text-font-size: 14px;


    --custom-primary: #243949;
    --custom-primary-transp: rgb(36, 57, 73, 0.5);
    --custom-accent: #517fa4;
    --my-custom-primary: linear-gradient(to right, #328cd2 0%, #0274c5 100%);

    --custom-back: #328cd2;
    --my-custom-background: linear-gradient(-30deg, var(--custom-primary) 0%, var(--custom-back) 100%);

    --custom-card: #0274c5;
    --my-custom-background-card: linear-gradient(to right, var(--custom-back) 0%, var(--custom-card) 100%);

    --my-custom-color: var(--my-custom-primary);
    --my-custom-color2: var(--custom-accent);
    --my-custom-color3: #948d8d4d;
    --my-custom-color-h: #e9e5e5;
    --my-custom-color4: rgb(255, 255, 255);
    --my-custom-active: #0AD8F0;
    --my-custom-color5: #f5f5f9;

    --custom-background-cover: #868381a6;
    --custom-images-primary: #d5d2d200;
    --custom-images-secondary: var(--my-custom-active);
    --custom-image-color: linear-gradient(to bottom, var(--custom-images-primary) 0%, var(--custom-images-secondary) 100%);


    ion-content {
      --background: var(--my-custom-background);
    }

}
