<ion-grid>
  <ion-row>
    <ion-col size="12" size-md="6" *ngFor="let item of list">
      <ion-card class="ion-no-margin" *ngIf="item.cantidad>0">
        <ngx-qrcode *ngIf="item.cantidad>item.consumido"
          elementType="url"
          [value]="getQrCode(item)"
          cssClass="qrClass"
          [width]="500"
          [colorDark] = "'#4f2683'"
          errorCorrectionLevel="L">
        </ngx-qrcode>
        <ion-img *ngIf="item.cantidad<=item.consumido" src="assets/images/qr_no.png"></ion-img>
        <ion-card>
          <ion-card-header>
            <ion-card-subtitle>{{ item.concepto }}</ion-card-subtitle>
          </ion-card-header>
          <ion-card-content>
            <ion-icon name="calendar" color="primary" icolor></ion-icon>
            Comprado el {{ getDate(item.f_compra) | date:'short' }}<br>
            <ion-icon name="calendar-number" color="primary" icolor></ion-icon>
            Válido hasta {{ getHasta(item.f_compra) | date:'short' }}<br>
            <ion-icon name="bag-check-outline" color="primary" icolor></ion-icon>
            Comprados {{ item.cantidad}}<br>
            <ion-icon name="ticket-outline" color="primary" icolor></ion-icon>
            Disponibles {{ item.disponibles}}
          </ion-card-content>
        </ion-card>
        <!-- <img [src]="item.img" /> -->
        <ion-card-content>
          <!-- <h4>{{ item.concepto }}</h4>
          <ion-icon name="calendar" color="primary" icolor></ion-icon>
          Comprado el <span>{{ getDate(item.f_compra) | date:'short' }}</span><br>
          <ion-icon name="calendar-number" color="primary" icolor></ion-icon>
          Válido hasta <span>{{ getHasta(item.f_compra) | date:'short' }}</span><br>
          <ion-icon name="bag-check-outline" color="primary" icolor></ion-icon>
          Comprados <span>{{ item.cantidad}}</span><br>
          <ion-icon name="ticket-outline" color="primary" icolor></ion-icon>
          Disponibles <span>{{ item.disponibles}}</span> -->

        </ion-card-content>
      </ion-card>
    </ion-col>
  </ion-row>
</ion-grid>
