<ion-grid>
  <ion-row>
      <ion-col size="12">
          <!-- <ion-item  lines="none" class="box-shadow1" *ngFor="let item of list" [color]="!item.pago ? 'primary' : 'success'"> -->
            <ion-item  lines="none" class="box-shadow1" *ngFor="let item of list" color="primary">

              <ion-label class="ion-padding-start">
                  <h4>Importe: {{item.importe | currency:'MXN'}}</h4>
                  <p class="ion-text-wrap">Concepto: {{item.concepto}}</p>
                  <p class="ion-text-wrap">Fecha de compra: {{item.fechaInicio | date:'short'}}</p>
              </ion-label>
          </ion-item>
      </ion-col>
  </ion-row>
</ion-grid>
