<ion-header>
    <ion-toolbar color ="primary">
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title> Inicio</ion-title>
     </ion-toolbar>
  </ion-header>

<ion-content>
    <custom-slides [list]="list" [option]="option"></custom-slides>

    <ion-row >
        <ion-col size="6" *ngFor="let item of list1" class="ion-text-center ion-padding" (click)="presentAlert(item)">
            <ion-icon [name]="item.icon" size="large" color="primary"></ion-icon>
            <h5 class="text-color">{{item.title}} </h5>
            <p>{{item.content}}</p>
        </ion-col>
    </ion-row>
    <!-- <ion-row>
        <ion-col size="12">
            <div class="head">
                <h4>Últimas noticias</h4>
                <div class="head-line"></div>
            </div>
        </ion-col>
        <ion-col size="6" *ngFor="let item of newList">
            <ion-card class="ion-no-padding ion-no-margin">
                <img [src]="item.img">
                <ion-card-content>
                    <h5>{{item.title}}</h5>
                    <p>{{item.content}}</p>
                </ion-card-content>
            </ion-card>
        </ion-col>
    </ion-row>
    <ion-row>
        <div class="head">
            <h4>Programas de entrenamiento</h4>
            <div class="head-line"></div>
        </div>
        <p class="ion-text-center">Diseñados con el objetivo de obtener resultados rápidos, por medio de entrenamientos de cardio y fuerza intensos.</p>
        <ion-col size="6" *ngFor="let item of fList" class="ion-padding">
            <h5>{{item.title}}</h5>
            <p>{{item.content}}</p>
            <ion-button color="secondary" size="small">Leer más</ion-button>
        </ion-col>
    </ion-row>
    <ion-row>
        <ion-col size="12">
            <div class="head">
                <h4>Nuestro equipo</h4>
                <div class="head-line"></div>
            </div>
        </ion-col>
        <ion-col size="6" *ngFor="let item of tList">
            <ion-card class="ion-no-padding ion-no-margin ion-text-center">
                <img [src]="item.img">
                <h6>{{item.name}}</h6>
                <ion-button fill="clear" class="ion-no-padding" color="secondary">
                    <ion-icon name="logo-facebook" slot="icon-only" size="large"></ion-icon>
                </ion-button>
                <ion-button class="ion-no-padding" fill="clear" color="secondary">
                    <ion-icon name="logo-instagram" slot="icon-only" size="large"></ion-icon>
                </ion-button>
                <ion-button class="ion-no-padding" fill="clear" color="secondary">
                    <ion-icon name="logo-whatsapp" slot="icon-only" size="large"></ion-icon>
                </ion-button>
            </ion-card>

        </ion-col>
    </ion-row> -->

    <!-- <ion-fab horizontal="end" vertical="bottom" slot="fixed">
        <ion-fab-button color="warning">
            <ion-icon name="chevron-up"></ion-icon>
        </ion-fab-button>
        <ion-fab-list side="top">
            <ion-fab-button color="danger">
                <ion-icon name="logo-facebook"></ion-icon>
            </ion-fab-button>
            <ion-fab-button color="danger">
                <ion-icon name="logo-twitter"></ion-icon>
            </ion-fab-button>
            <ion-fab-button color="danger">
                <ion-icon name="logo-vimeo"></ion-icon>
            </ion-fab-button>
            <ion-fab-button color="danger">
                <ion-icon name="logo-google"></ion-icon>
            </ion-fab-button>
        </ion-fab-list>
    </ion-fab> -->
</ion-content>
