:host {
  .head {
    text-align: center;
    margin: 0 auto 17px auto;

    &-line {
      width: 47px;
      height: 2.5px;
      background: var(--ion-color-danger);
      margin: 10px auto 0;
    }
  }
  ::ng-deep.swiper-pagination-progressbar .swiper-pagination-progressbar-fill {
    background: rgb(46, 204, 27);
  }


  ::ng-deep.swiper-pagination-bullet-active {
    color: var(--ion-color-primary);
    background: var(--my-custom-active) !important;
  }
  .text-color{
    color: var(--ion-color-primary);
  }
}
