<ion-header>
  <ion-toolbar color ="primary">
<ion-buttons slot="start">
    <ion-back-button defaulthref="/"></ion-back-button>
  </ion-buttons>
    <ion-title> Mis Datos</ion-title>
   </ion-toolbar>
</ion-header>

<ion-content  *ngIf="cliente">
  <ion-card>

  <div class="image-center">
    <ion-avatar>
      <img [src]="'data:image/jpeg;base64,'+cliente.urlfoto.imagen">
    </ion-avatar>
  </div>
  <div class="ion-text-center">
    <h5>Foto de Perfil</h5>
  </div>

  <ion-item>
    <ion-label color="primary">
      <h2>Nombre</h2>
      <p>{{cliente.nombre}} {{cliente.apellidoPaterno}} {{cliente.apellidoMaterno}}</p>
    </ion-label>
  </ion-item>

  <ion-item>
    <ion-label>
      <h2>Club</h2>
      <p>{{cliente.club.nombre}}</p>
    </ion-label>
  </ion-item>

  <ion-item>
    <ion-label>
      <h2>Categoria</h2>
      <p>{{cliente.categoria.nombre}}</p>
    </ion-label>
  </ion-item>

  <ion-item>
    <ion-label>
      <h2>Estatus de Acceso</h2>
      <p>{{cliente.club.estatusAcceso}}</p>
    </ion-label>
  </ion-item>

  <ion-item>
    <ion-label>
      <h2>Estatus de Cliente</h2>
      <p>{{cliente.estatusCliente.nombre}}</p>
    </ion-label>
  </ion-item>

  <ion-item>
    <ion-label>
      <h2>Estatus de Cobranza</h2>
      <p>{{cliente.estatusCobranza.nombre}}</p>
    </ion-label>
  </ion-item>

  <ion-item>
    <ion-label>
      <h2>Membresia</h2>
      <p>{{cliente.tipoMembresia.nombre}}</p>
    </ion-label>
  </ion-item>

  <ion-item>
    <ion-label>
      <h2>Tipo de Cliente</h2>
      <p>{{cliente.tipoCliente.nombre}}</p>
    </ion-label>
  </ion-item>

  <ion-item>
    <ion-label>
      <h2>Teléfono</h2>
      <p>{{cliente.telefono}}</p>
    </ion-label>
  </ion-item>

  <ion-item>
    <ion-label>
      <h2>E-mail</h2>
      <p>{{cliente.email}}.</p>
    </ion-label>
  </ion-item>


</ion-card>
</ion-content>
