.disen{
    background: var(--ion-color-secondary);
   //background: #bfbfbf;
   // margin: 0 !important;
    width: 100%;
    align-items: center;
    color: black;
    height: 15%;
    align-items: center;
    display: flex;
    justify-content: center;
    margin-left: 0;
    margin-bottom: 10%;
  }
.titulo{
  color:var(--ion-color-primary-tint);
  font-weight: 700;
  //color: black;
}
.fila{
  color: var( --ion-color-secondary-contrast);
  width: 100%;
  margin-left: 0;

}
.adeudo{
  color: var( --ion-color-secondary-contrast);
  text-align: right;
  font-weight: 700;

}
.concepto-pago{
  color: var( --ion-color-primary);
 //color: #00b050;
  font-weight: 700;
}
.pago{
  color: var( --ion-color-primary);
 //color: #00b050;
  text-align: right;
  font-weight: 700;
}
ion-list{
  background: #ffffff !important;

}
ion-item{
  --background: #ffffff !important;
  --border-color: var( --ion-color-primary) !important;
  border-style: solid;
  border-color: var(--ion-color-primary) ;
  border-width: thin;

}
