<ion-header>
  <ion-toolbar color ="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title> Estado de cuenta</ion-title>
   </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <div align="center">
      <ion-card color="secondary">
        <ion-card-header>
          <ion-card-subtitle>
            <div align="center">
              SALDO TOTAL: {{total|currency:'MXN'}}
            </div>
          </ion-card-subtitle>
        </ion-card-header>
      </ion-card>
    </div>
  </ion-card>

  <!-- <ion-card *ngFor="let movimiento of movimientos">

    <ion-item>
      <ion-label>
        <h2>Categoria: </h2>
        <p>{{movimiento.concepto}}</p>
      </ion-label>
    </ion-item>

    <ion-item color="success">
      <ion-label >
        <h2>Saldo:</h2>
        <p>{{movimiento.saldo}} </p>
      </ion-label>
    </ion-item>
<!--
    <ion-item color="danger">
      <ion-label>
        <h2>Debito:</h2>
        <p>{{movimiento.debito}}</p>
      </ion-label>
    </ion-item>--

  </ion-card> -->
  <ion-list>
    <ion-item *ngFor="let movimiento of movimientos" class="ion-no-padding" lines="none" >
      <ion-row icol class="fila">
        <ion-col size="3">
          {{movimiento.fechaDeAplicacion |date:"dd/MM/yy"}}
        </ion-col>
        <ion-col size="6" [ngClass]="{'concepto-pago':movimiento.credito>0 }">
          {{movimiento.concepto}}
        </ion-col>
        <ion-col *ngIf="movimiento.credito>0" class="pago" hidden>
          {{movimiento.credito | currency:'MXN'}}
        </ion-col>
        <ion-col size="3" *ngIf="movimiento.credito<=0" class="adeudo">
          {{movimiento.debito | currency:'MXN'}}
        </ion-col>
      </ion-row>
    </ion-item>
  </ion-list>

</ion-content>
