<ion-grid class="ion-no-padding">
    <ion-row class="header">
        <ion-avatar *ngIf="cliente">
           <img [src]="'data:image/jpeg;base64,'+cliente.urlfoto.imagen">
        </ion-avatar>
    </ion-row><br>
    <ion-row>
        <ion-col size="12" class="ion-no-padding">
            <div *ngIf="cliente">
                <ion-card>
                    <ion-card-header>
                      <ion-card-subtitle>{{cliente.club.nombre}}</ion-card-subtitle>
                      <ion-card-title><h4 class="ion-padding-top">{{cliente.nombre}} {{cliente.apellidoPaterno}} {{cliente.apellidoMaterno}}</h4></ion-card-title>
                    </ion-card-header>

                    <ion-card-content>
                        <ion-item >  <!--lines="none" class="transparent"-->
                            <ion-label>
                                <h5>Membresía</h5>
                               <p>{{cliente.tipoMembresia.nombre}}</p>
                            </ion-label>
                        </ion-item>
                        <ion-item>
                            <ion-label>
                                <h5>Estatus</h5>
                                <p>{{cliente.estatusCliente.nombre}}</p>
                            </ion-label>
                        </ion-item>

                        <ion-item>
                            <ion-label>
                                <h5>Estatus de Acceso</h5>
                                <p>{{cliente.estatusAcceso}}</p>
                            </ion-label>
                        </ion-item>

                        <ion-item>
                            <ion-label>
                                <h5>Estatus de Cobranza</h5>
                                <p>{{cliente.estatusCobranza.nombre}}</p>
                            </ion-label>
                        </ion-item>
                        <ion-item>
                            <ion-label>
                                <h5>Tipo de Cliente</h5>
                                <p>{{cliente.tipoCliente.nombre}}</p>
                            </ion-label>
                        </ion-item>
                        <ion-item>
                            <ion-label>
                                <h5>E-mail</h5>
                                <p>{{cliente.email}}</p>
                            </ion-label>
                        </ion-item>
                        <ion-item>
                            <ion-label>
                                <h5>Teléfono</h5>
                                <p>{{cliente.telefono}}</p>
                            </ion-label>
                        </ion-item>
                    </ion-card-content>
                  </ion-card>
            <!-- <ion-card class="ion-no-margin ion-text-center transparent" >
                <h4 class="ion-padding-top">{{cliente.nombre}} {{cliente.apellidoPaterno}} {{cliente.apellidoMaterno}}</h4>
                <ion-item >
                    <ion-label>
                        <h5>Membresía</h5>
                       <p>{{cliente.tipoMembresia.nombre}}</p>
                    </ion-label>
                </ion-item>
                <ion-item>
                    <ion-label>
                        <h5>Estatus</h5>
                        <p>{{cliente.estatusCliente.nombre}}</p>
                    </ion-label>
                </ion-item>
                <ion-item>
                    <ion-label>
                        <h5>Club</h5>
                        <p>{{cliente.club.nombre}}</p>
                    </ion-label>
                </ion-item>

                <ion-item>
                    <ion-label>
                        <h5>Estatus de Acceso</h5>
                        <p>{{cliente.estatusAcceso}}</p>
                    </ion-label>
                </ion-item>

                <ion-item>
                    <ion-label>
                        <h5>Estatus de Cobranza</h5>
                        <p>{{cliente.estatusCobranza.nombre}}</p>
                    </ion-label>
                </ion-item>
                <ion-item>
                    <ion-label>
                        <h5>Tipo de Cliente</h5>
                        <p>{{cliente.tipoCliente.nombre}}</p>
                    </ion-label>
                </ion-item>
                <ion-item>
                    <ion-label>
                        <h5>E-mail</h5>
                        <p>{{cliente.email}}</p>
                    </ion-label>
                </ion-item>
                <ion-item>
                    <ion-label>
                        <h5>Teléfono</h5>
                        <p>{{cliente.telefono}}</p>
                    </ion-label>
                </ion-item>
            </ion-card> -->
      </div>
      <!--
          <ion-list class="ion-no-margin ion-text-center transparent" >
              <br>
                  <ion-item button (click)="misDatos()" lines="none">
                      <ion-icon slot="start" name="person-outline" color="light"></ion-icon>
                      <ion-label> <p>Mis datos</p></ion-label>
                      <ion-icon slot="end" name="chevron-forward" color="light" size="small"></ion-icon>
                  </ion-item>
              </ion-list>
            -->
        </ion-col>
    </ion-row>
  </ion-grid>

