:host {
  .header {
    height: 80px;
    background-color: var(--ion-color-secondary);
    border-radius: 0 0 50% 50%;
  }

  ion-avatar {
    margin: 50px auto !important;
    z-index: 999;
  }
  h4{
    color: var(--ion-color-primary);
  }
}
