<ion-header>
  <ion-toolbar color ="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title> Retos</ion-title>
   </ion-toolbar>
</ion-header>

<ion-content>
  <custom-skeleton-fresh [list]="list" *ngIf="isLoading"></custom-skeleton-fresh>
  <custom-card1 [list]="list" *ngIf="!isLoading"></custom-card1>
</ion-content>
